:root {
    --dark-primary-color: #111111;
    --default-primary-color: #555555;
    --light-primary-color: #D7CCC8;
    --text-color: #FFFFFF;
    --accent-color: chartreuse;
    --primary-text-color: #212121;
    --secondary-text-color: cornflowerblue;
    --divider-color: #BDBDBD;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--divider-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: OpenSans, sans-serif;
}

body > * {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body > header {
  background-color: var(--dark-primary-color);
  color: var(--text-color);
  padding: .5rem 1rem;
  text-align: center;
}

body > main {
  background-color: var(--divider-color);
  flex: 1 0 auto;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 15px;
}

body > footer {
  background-color: var(--dark-primary-color);
  color: var(--text-color);
  padding: .5rem 1rem;
  text-align: center;
}

article {
  background-color: var(--text-color);
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
}

article > header {

}


article > footer {
  padding: 10px;
  margin: 0 30px;
  text-align: center;
  border-top: 1px solid #efefef;
}

#btnAdd {
  background-color: var(--dark-primary-color);
  border: 1px solid var(--dark-primary-color);
  color: var(--text-color);
  display: inline-block;
  visibility: hidden;
  text-decoration: none;
  font-weight: 600;
  padding: .5rem 1rem;
  margin: 0 auto;
}

#emoji {
  height: 200px;
  width: 200px;
}

article h2 {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.2;
}

article span {
  margin: 0 0 15px;
  font-size: 1rem;
  font-weight: 700;
}

article p {
  padding: 20px 0;
  line-height: 1.6;
  text-align: justify;
}

article > main {
  padding: 50px 80px;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
}

hr {
  width: 75%;
}

footer a {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
}

footer a:active,
a:focus,
a:hover {
  color: var(--secondary-text-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: gray;
}


.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.button-2 {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.wrapper {
  padding-bottom: 10px;
  display:flex;
  text-align: center;
}

.wrapper div{
  display: inline-block;
  text-align: center;
}
.image--cover {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-style: solid;
  border-color: gray;
  mso-border-shadow: yes;
  object-fit: cover;
  object-position: center;
}

.profile-text{
  padding: 15px 30px 10px 20px;
  text-align: center;
  font-weight: 600;
  color: gray;
  font-size: 16px;
}

.status{
  padding: 15px 0 10px 0;
  text-align: center;
}

.status span{
  font-weight: 600;
  text-align: center;
  font-size: 18px;
}


    .overlay {
        --border-style: 3px solid red;
        --border-space: 20px;

        position: absolute;
        width: 270px;
        height: 180px;
    }

    .overlay-helper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .overlay-element {
        padding: 20px;
        width: 150px;
        height: 100px;
        position: absolute;
    }

    .overlay-text {
        font-size: 10px;
        color: white;
        font-family: monospace;
    }

    .overlay .top-left {
        border-left: var(--border-style);
        border-top: var(--border-style);
        top: var(--border-space);
        left: var(--border-space);
        text-align: left;
    }

    .overlay .top-right {
        border-right: var(--border-style);
        border-top: var(--border-style);
        top: var(--border-space);
        right: var(--border-space);
        text-align: right;
    }

    .overlay .bottom-left {
        border-left: var(--border-style);
        border-bottom: var(--border-style);
        bottom: var(--border-space);
        left: var(--border-space);
        text-align: left;
    }

    .overlay .bottom-right {
        border-right: var(--border-style);
        border-bottom: var(--border-style);
        bottom: var(--border-space);
        right: var(--border-space);
        text-align: right;
    }

    #overlay-bottom-left-text {
        position: absolute;
        bottom: var(--border-space);
        left: var(--border-space);
    }

    #overlay-bottom-right-text {
        position: absolute;
        bottom: var(--border-space);
        right: var(--border-space);
    }

    .onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.switch-wrapper{
    padding: 40px 0px 10px 0;
    display: flex;
    text-align: center;
    justify-content: center;
  align-items: center;

}

@media screen and (min-width: 400px) {
  main {
    max-width: 400px;
    margin: auto auto;
    border-radius: 10px;
  }
  img {
    max-width: 100%;
  }
}
